@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    background: transparent;
}

.text-container {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: white;
    opacity: 0.8;
    user-select: none;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}


#chat-box {
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
    height: 1200px;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .chat-message{
        animation: moveVertical 0.8s;
                border-radius: 10px;
                background: #FAFAFA;
                backdrop-filter: blur(20px);
                padding: 10px;


        width: fit-content;
        .chat-info{
            gap: 5px;
            display: flex;
            p{
                margin: 0;
                font-family: "Montserrat";
            }
            flex-direction: column;
            .username{
                font-weight: 600;
            }
            .message{
                font-weight: 500;
            }
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
}



@keyframes moveVertical {
    from{
        transform: translateY(20px);
        opacity: 0;
    }to{
         transform: translateY(0);
         opacity: 1;
     }
}
